.tutorial1_1_1910,
.tutorial1_1_1911,
.tutorial1_1_1912,
.tutorial1_1_1913 { background-image: url('tutorial1_1_191_icons.png'); width: 16px; height: 16px; }

.tutorial1_1_1910 { background-position: -0px; }
.tutorial1_1_1911 { background-position: -16px; }
.tutorial1_1_1912 { background-position: -32px; }
.tutorial1_1_1913 { background-position: -48px; }
